{% extends "layouts/base.html" %}

{% load i18n static %}

{% block content %}
<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-md-8 col-sm-10 col-12 mx-auto">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">
                Zapomniałeś hasła ? Wprowadź swój adres e-mail:
              </h4>
            </div>
            <div class="card-body">
              <form method="post" onkeydown="return event.key != 'Enter';">{% csrf_token %}
                <div class="app message-card">
                  <div class="card">
                    <div class="card-content">
                      <div class="form-row field-email">
                          {{ form.email.errors }}
                          <div class="col-12">
                            <label for="id_email">{% trans 'Email address:' %}</label>
                          </div>
                          <div class="col-12">
                            {{ form.email }}
                          </div>
                      </div>
                      <button class="btn waves-effect waves-light default" type="submit" name="action">
                        {% trans 'Reset my password' %}
                        <i class="material-icons right">send</i>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>
</div>

<style>
  .main-panel{
    width: 100%;
  }
</style>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}