{% extends "layouts/base.html" %}

{% load i18n static %}

{% block content %}
<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-md-8 col-sm-10 col-12 mx-auto">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">
                Zapomniałeś hasła ? Wprowadź swój adres e-mail:
              </h4>
            </div>
            <div class="card-body">


                  {% if validlink %}
                    <p class="center">{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
                    <form method="post" onkeydown="return event.key != 'Enter';">{% csrf_token %}
                      <div class="app message-card">
                        <div class="card">
                          <div class="card-content">
                            <div class="form-row field-password1">
                              {{ form.new_password1.errors }}
                              <label for="id_new_password1">{% trans 'New password:' %}</label>
                              {{ form.new_password1 }}
                            </div>
                            <div class="form-row field-password2">
                              {{ form.new_password2.errors }}
                              <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
                              {{ form.new_password2 }}
                            </div>
                            <button class="btn waves-effect waves-light default" type="submit">{% trans 'Change my password' %}
                              <i class="material-icons right">send</i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </form>
                  {% else %}
                    <div class="app message-card">
                      <div class="card">
                        <div class="card-content">
                          {% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}
                        </div>
                      </div>
                    </div>
                  {% endif %}


            </div>
          </div>
        </div>
    </div>
</div>

<style>
  .main-panel{
    width: 100%;
  }
</style>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}